/* General Styles */
.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: url(../assets/bg.png);
    background-repeat: repeat; */
}
#logo-img{
    width: 100%;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}


/* Navbar Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 140px;
}
.menu{
    display: none;
    font-size: 30px;
}
.nav-logo-div{
    display: flex;
    align-items: center;
    justify-content: start;
    /* padding: 5px; */
    /* width: max-content;
    margin: 0; */
}
.nav-title-div{
    /* position: relative; */
    display: inline;
    align-items: center;
    justify-content: start;
    width: max-content;
    margin: 0;
    padding: 0 10px;
    /* padding-right: 60px; */
}
nav ul{
    display: flex;
    /* margin: 16px 180px; */
    gap: 20px;
    align-items: center;
    justify-content: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 500;
}
.nav-btn-div{
    display: inline;
    align-items: center;
    justify-content: end;
}
.nav-title{
    font-family: "Quicksand", serif;
    font-size: 32px;
    font-weight: bold;
}
#Home{
    color: orange;
}
#About{
    color: skyblue;
}
#Facilities{
    color: #05D4DF;
}
#Admission{
    color: #5D58EF;
}
#nav-btn{
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 12px;
    padding: 10px 60px;
}

@media screen and (min-width:576px) and (max-width:992px) {
    nav{
        flex-direction: column;
        margin: 30px 70px;
        gap: 20px;
    }
}

@media screen and (max-width:576px) {
    .nav-container{
        border: 1px solid orange;
    }
    nav{
        margin: 20px;
    }
    .nav-title{
        display: none;
    }
    .nav-title-div{
        display: none;
    }
    .nav-link-div{
        display: none;
    }
    #nav-btn{
        display: none;
    }
    .menu{
        display: inline;
        font-size: 30px;
    }
}


/* Banner Styles */
.banner-section{
    margin: 0 140px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.ban-cont{
    display: inline;
    /* margin-top: 120px; */
    align-items: center;
    justify-content: center;
}
.banner-title{
    font-family: "Quicksand", serif;
    font-size: 56px;
    font-weight: bold;
    line-height: 62px;
}
.banner-content{
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 400;
    padding-top: 16px;
}
.banner-btn{
    padding-top: 24px;
}
.primary-btn{
    display: inline;
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
    border-radius: 12px;
    padding: 10px 60px;
}
.ban-img-cont{
    width: 100%;
}
.banner-img{
    width: 100%;
}

@media screen and (min-width:576px) and (max-width:992px) {
    .banner-section{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 30px 70px;
        gap: 20px;
    }
    .banner-title{
        font-size: 48px;
        line-height: 56px;
        text-align: center;
    }
    .banner-content{
        font-size: 18px;
        padding-top: 16px;
        text-align: center;
    }
    .banner-btn{
        padding-top: 24px;
        text-align: center;
        /* align-items: center;
        justify-content: center; */
    }
    .primary-btn{
        font-size: 18px;
    }
    /* .ban-img-cont{
        width: 100%;
    }
    .banner-img{
        width: 100%;
    } */
}

@media screen and (max-width:576px) {
    .banner-section{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 20px;
        padding: 24px;
        gap: 20px;
    }
    .banner-title{
        font-size: 32px;
        line-height: 45px;
        text-align: center;
    }
    .banner-content{
        font-size: 14px;
        padding-top: 16px;
        text-align: center;
    }
    .banner-btn{
        padding-top: 24px;
        text-align: center;
    }
    .primary-btn{
        font-size: 16px;
    }
    /* .ban-img-cont{
        width: 100%;
    }
    .banner-img{
        width: 50%;
    } */
}

/* Class Styles */
.standard-section{
    padding: 60px 140px;
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}
.standard-title{
    font-family: "Quicksand", serif;
    font-size: 46px;
    font-weight: bold;
    /* line-height: 62px; */
    text-align: center;
}
.class-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 80px 0;
    gap: 28px;
}
.kinder-cont{
    display: inline;
    /* background: linear-gradient(#DEF5FF, rgba(222, 245, 255, .2), 40%, #FFFFFF); */
    background-image: linear-gradient(#DEF5FF, rgba(222, 245, 255, .2), 40%, #FFFFFF); 
    padding: 40px 20px;
    border: 1.5px solid #DEF5FF;
    border-radius: 18px;
    box-shadow: inset 0px 0px 20px 2px rgba(245, 244, 244, 1);
    /* gap: 20px; */
    /* align-items: center;
    justify-content: center; */
}
.kinder-img{
    width: 100%;
    padding: 20px 80px;
}
.img-1{
    width: 100%;
    align-items: center;
}
.kinder-title{
    font-family: "Quicksand", serif;
    font-size: 24px;
    font-weight: bold;
    margin: 30px 0;
    color: #202020;
    /* line-height: 62px; */
    text-align: center;
}
.kinder-para{
    font-family: "Quicksand", serif;
    font-size: 16px;
    font-weight: 500;
    margin: 30px 0;
    line-height: 28px;
    /* line-height: 62px; */
    text-align: center;
    color: #808080;
}
.kinder-btn{
    text-align: center;
}
.elementary-cont{
    display: inline;
    background-image: linear-gradient(#FFF4DC, rgba(255, 244, 220, .2), 40%, #FFFFFF); 
    padding: 40px 20px;
    border: 1.5px solid #FFF4DC;border-radius: 18px;
    box-shadow: inset 0px 0px 20px 2px rgba(245, 244, 244, 1);
}
.middle-cont{
    display: inline;
    background-image: linear-gradient(#F2E8FF, rgba(242, 232, 255, .2), 40%, #FFFFFF); 
    padding: 40px 20px;
    border: 1.5px solid #F2E8FF;border-radius: 18px;
    box-shadow: inset 0px 0px 20px 2px rgba(245, 244, 244, 1);
}
#kinder{
    color: #64C8FF;
    background: none;
    border: none;
}
#elementary{
    color: #F0AA00;
    background: none;
    border: none;
}
#middle{
    color: #8700FF;
    background: none;
    border: none;
}
.class-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.arrow-1{
    color: white;
    background: #F0AA00;
    border: 1px solid #F0AA00;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 24px;
    line-height: 24px;
}

@media screen and (min-width:576px) and (max-width:992px){
    .standard-section{
        padding: 40px 70px;
    }
    .standard-title{
        font-size: 36px;
    }
    .class-div{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 20px 0;
        gap: 20px;
    }
    .class-btn{
        display: none;
    }
    .kinder-img{
        /* padding: 36px 50px; */
        text-align: center;
    }
    .img-1{
        width: 50%;
    }
    .kinder-cont{
        padding: 28px 36px;
    }
    .elementary-cont{
        padding: 28px 36px;
    }
    .middle-cont{
        padding: 28px 36px;
    } 
}

@media screen and (max-width:576px){
    .standard-section{
        padding: 40px 20px;
    }
    .standard-title{
        font-size: 26px;
    }
    .class-div{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 20px 0;
        /* padding: 28px 36px; */
        gap: 20px;
    }
    .class-btn{
        display: none;
    }
    .kinder-img{
        /* padding: 36px 50px; */
        text-align: center;
    }
    .img-1{
        width: 50%;
    }
    .kinder-cont{
        padding: 28px 36px;
    }
    .elementary-cont{
        padding: 28px 36px;
    }
    .middle-cont{
        padding: 28px 36px;
    }
}


/* Story Styles */
.story-section{
    padding: 60px 140px;
    background: linear-gradient(to top, rgba(254, 163, 1, .2), 40%, #FFFFFF), url(../assets/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}
.story-div{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    gap: 20px;
    /* align-items: center;
    justify-content: center; */
}
.big-cont{
    width: 100%;
}
.many-story-div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;
    gap: 20px;
}
.big-story-div{
    background-color: white;
    border: none;
    border-radius: 16px;
}
.story-img{
    width: 100%;
    border: none;
    border-radius: 16px 16px 0 0;
}
.story1-title{
    font-family: "Quicksand", serif;
    font-size: 24px;
    font-weight: bold;
    margin: 30px 0;
    color: #202020;
    /* line-height: 62px; */
    /* text-align: center; */
}
.story1-pera{
    font-family: "Quicksand", serif;
    font-size: 16px;
    font-weight: 500;
    margin: 30px 0;
    line-height: 28px;
    color: #808080;
}
.story-content{
    padding: 0 40px;
}
.story2-pera{
    font-family: "Quicksand", serif;
    font-size: 16px;
    font-weight: bold;
    margin: 30px 0;
    line-height: 28px;
    color: #000000;
}
#story-btn-div{
    text-align: center;
}
#story-btn1{
    font-family: "Quicksand", serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #3CD8E8;
    border: none;
    border-radius: 50px;
    position: absolute;
    margin-top: -55px;
    padding: 10px 20px;
}
.story-btn2{
    font-family: "Quicksand", serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #95B226;
    border: none;
    border-radius: 50px;
    position: absolute;
    margin-top: -55px;
    margin-left: -26px;
    padding: 10px 15px;
}
#story-btn3{
    font-family: "Quicksand", serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #5D58F0;
    border: none;
    border-radius: 50px;
    position: absolute;
    margin-top: -55px;
    margin-left: -26px;
    padding: 10px 15px;
}

@media screen and (min-width:576px) and (max-width:992px){
    .story-section{
        padding: 30px 70px;
    }
    .story-div{
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        /* align-items: center;
        justify-content: center; */
    }
    /* .big-story-div{
        visibility: hidden;
    } */
}

@media screen and (max-width:576px){
    .story-section{
        padding: 24px;
    }
    .story-div{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
}

/* Footer Styles */
.footer-section{
    padding: 120px 230px 175px 140px;
    background-color: #01ACFD;
}
.footer-div{
    display: flex;
    gap: 80px;
}
#primary-cont1{
    display: flex;
    align-items: center;
    /* padding-right: 30px; */
    /* justify-content: center; */
}
#primary-cont2{
    /* padding-right: 30px; */
}
.footer-title{
    font-family: "Quicksand", serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 26px;
    color: white;
}
#footer-pera{
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
}
.about-link{
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
}
#about{
    font-family: "Quicksand", serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.icon-div{
    margin-top: 40px;
    display: flex;
    gap: 10px;
}

@media screen and (min-width:576px) and (max-width:992px){
    .footer-section{
        /* padding: 120px 230px 175px 140px; */
        padding: 30px 70px;
    }
    .footer-div{
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (max-width:576px){
    .footer-section{
        padding: 20px;
    }
    .footer-div{
        flex-direction: column;
        gap: 30px;
    }
    .footer-title{
        font-family: "Quicksand", serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 26px;
        color: white;
    }
    #footer-pera{
        font-family: "Quicksand", serif;
        font-size: 16px;
        font-weight: 400;
        color: white;
    }
    .about-link{
        font-family: "Quicksand", serif;
        font-size: 16px;
        font-weight: 400;
        color: white;
    }
    #about{
        font-family: "Quicksand", serif;
        font-size: 18px;
        font-weight: bold;
        color: white;
    }
}