/* General Styles */
.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: url(../assets/bg.png);
    background-repeat: repeat; */
}
#logo-img{
    width: 100%;
}

/* Navbar Style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 140px;
}
.menu{
    display: none;
    font-size: 30px;
}
.nav-logo-div{
    display: flex;
    align-items: center;
    justify-content: start;
    /* padding: 5px; */
    /* width: max-content;
    margin: 0; */
}
.nav-title-div{
    /* position: relative; */
    display: inline;
    align-items: center;
    justify-content: start;
    width: max-content;
    margin: 0;
    padding: 0 10px;
    /* padding-right: 60px; */
}
nav ul{
    display: flex;
    /* margin: 16px 180px; */
    gap: 20px;
    align-items: center;
    justify-content: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 500;
}
.nav-btn-div{
    display: inline;
    align-items: center;
    justify-content: end;
}
.nav-title{
    font-family: "Quicksand", serif;
    font-size: 32px;
    font-weight: bold;
}
#Home{
    color: orange;
}
#About{
    color: skyblue;
}
#Facilities{
    color: #05D4DF;
}
#Admission{
    color: #5D58EF;
}
#nav-btn{
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 12px;
    padding: 10px 60px;
}

@media screen and (min-width:576px) and (max-width:992px) {
    nav{
        flex-direction: column;
        margin: 30px 70px;
        gap: 20px;
    }
}

@media screen and (max-width:576px) {
    .nav-container{
        border: 1px solid orange;
    }
    nav{
        margin: 20px;
    }
    .nav-title{
        display: none;
    }
    .nav-title-div{
        display: none;
    }
    .nav-link-div{
        display: none;
    }
    #nav-btn{
        display: none;
    }
    .menu{
        display: inline;
        font-size: 30px;
    }
}


/* Banner Style */
.banner-section{
    margin: 0 140px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.ban-cont{
    display: inline;
    /* margin-top: 120px; */
    align-items: center;
    justify-content: center;
}
.banner-title{
    font-family: "Quicksand", serif;
    font-size: 56px;
    font-weight: bold;
    line-height: 62px;
}
.banner-content{
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 400;
    padding-top: 16px;
}
.banner-btn{
    padding-top: 24px;
}
.primary-btn{
    display: inline;
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
    border-radius: 12px;
    padding: 10px 60px;
}
.ban-img-cont{
    width: 100%;
}
.banner-img{
    width: 100%;
}

@media screen and (min-width:576px) and (max-width:992px) {
    .banner-section{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 30px 70px;
        gap: 20px;
    }
    .banner-title{
        font-size: 48px;
        line-height: 56px;
        text-align: center;
    }
    .banner-content{
        font-size: 18px;
        padding-top: 16px;
        text-align: center;
    }
    .banner-btn{
        padding-top: 24px;
        text-align: center;
        /* align-items: center;
        justify-content: center; */
    }
    .primary-btn{
        font-size: 18px;
    }
    /* .ban-img-cont{
        width: 100%;
    }
    .banner-img{
        width: 100%;
    } */
}

@media screen and (max-width:576px) {
    .banner-section{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 20px;
        padding: 24px;
        gap: 20px;
    }
    .banner-title{
        font-size: 32px;
        line-height: 45px;
        text-align: center;
    }
    .banner-content{
        font-size: 14px;
        padding-top: 16px;
        text-align: center;
    }
    .banner-btn{
        padding-top: 24px;
        text-align: center;
    }
    .primary-btn{
        font-size: 16px;
    }
    /* .ban-img-cont{
        width: 100%;
    }
    .banner-img{
        width: 50%;
    } */
}